---
import NavbarLayout from './NavbarLayout.astro';

const { frontmatter } = Astro.props;

const schema = {
  '@context': 'https://schema.org',
  '@type': 'Article',
  headline: frontmatter.title,
  description: frontmatter.description,
  author: {
    '@type': 'Person',
    name: 'Max Shen',
    url: 'https://x.com/m4xshen',
  },
  datePublished: new Date(frontmatter.date).toISOString().substring(0, 10),
};
---

<script type="application/ld+json" set:html={JSON.stringify(schema)} />
<NavbarLayout
  title={`${frontmatter.title} | Flowmo`}
  description={frontmatter.description}
>
  <article class="prose prose-invert px-3 pb-36 pt-28">
    <h1 class="text-3xl font-extrabold">{frontmatter.title}</h1>
    <div>
      {frontmatter.date} • <a href="https://x.com/m4xshen" class="no-underline"
        >Max Shen</a
      >
    </div>
    <slot />
  </article>
</NavbarLayout>
