---
import { Image } from 'astro:assets';
import AppearScroll from '../AppearScroll';
import timerBreakImage from '../../images/timer-break.png';
import tasksImage from '../../images/tasks.png';
import statsImage from '../../images/stats.png';
import todoistLogo from '../../images/integrations/todoist.png';
import ticktickLogo from '../../images/integrations/ticktick.png';
import microsoftTodoLogo from '../../images/integrations/microsofttodo.png';
import googleTasksLogo from '../../images/integrations/googletasks.png';
---

<div
  id="features"
  class="relative mb-60 flex w-full flex-col items-center gap-40 px-3 text-center sm:my-60 lg:mt-[25rem] lg:text-start lg-xl:mt-[15rem]"
>
  <div
    class="mt-32 flex flex-col items-center justify-center gap-10 lg:flex-row"
  >
    <div class="flex max-w-[24rem] flex-col gap-5">
      <h2 class="text-3xl font-bold">Flowmodoro Timer</h2>
      <div>
        Work x minutes, take x/5 minutes break. Flowmo
        <span class="underline decoration-primary decoration-wavy">
          calculates it for you
        </span>.
      </div>
    </div>
    <AppearScroll client:load>
      <Image
        src={timerBreakImage}
        draggable="false"
        class="max-w-[25rem] rounded-xl shadow-xl"
        alt="Timer feature of Flowmo app"
      />
    </AppearScroll>
  </div>
  <div
    class="flex h-[60vh] flex-col items-center justify-center gap-10 lg:flex-row"
  >
    <AppearScroll client:load>
      <Image
        draggable="false"
        src={tasksImage}
        alt="Task list feature of Flowmo app"
        class="max-w-[25rem] rounded-xl shadow-xl"
      />
    </AppearScroll>
    <div
      class="order-first flex max-w-[24rem] flex-col items-center gap-5 lg:order-last lg:items-stretch"
    >
      <h2 class="text-3xl font-bold">Task List</h2>
      <div>
        Select a task when focused to stay
        <span class="underline decoration-primary decoration-wavy">
          monotasked</span
        >. Todo list app integrations available.
      </div>
      <div class="flex gap-3">
        <a href="https://todoist.com" target="_blank" rel="noopener noreferrer">
          <Image src={todoistLogo} alt="Todoist logo" width="48" />
        </a>
        <a
          href="https://ticktick.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image src={ticktickLogo} alt="TickTick logo" width="48" />
        </a>
        <a
          href="https://todo.microsoft.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image src={microsoftTodoLogo} alt="Microsoft ToDo logo" width="48" />
        </a>
        <a
          href="https://tasks.google.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image src={googleTasksLogo} alt="Google Tasks logo" width="48" />
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center gap-10 lg:flex-row">
    <div class="flex max-w-[24rem] flex-col gap-5">
      <h2 class="text-3xl font-bold">Stats</h2>
      <div>
        Provide daily / weekly / yearly stats for enhanced <span
          class="underline decoration-primary decoration-wavy"
          >productivity insights</span
        >.
      </div>
    </div>
    <AppearScroll client:load>
      <Image
        draggable="false"
        src={statsImage}
        alt="Statistics feature of Flowmo app"
        class="ml-2 w-full max-w-xl"
      />
    </AppearScroll>
  </div>
</div>
