---
import '@fontsource-variable/inter';
import Navbar from '../components/Navbar';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
const image = '/og.png';
const thumbnail = '/thumbnail.png';
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="thumbnail" content={new URL(thumbnail, Astro.url)} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <link rel="icon" href="/favicon.ico" />
  </head>
  <body
    class="bg-[#131221] text-white font-sans flex flex-col justify-between min-h-screen"
  >
    <Navbar client:load />
    <main class="flex flex-col items-center mb-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
