---
import NavbarLayout from './NavbarLayout.astro';

const { frontmatter } = Astro.props;
---

<NavbarLayout
  title={`${frontmatter.title} | Flowmodor`}
  description={frontmatter.description}
  image={frontmatter.image}
>
  <article class="prose prose-invert px-3 pb-36 pt-28">
    {
      frontmatter.image ? (
        <img src={frontmatter.image} alt={frontmatter.title} />
      ) : null
    }
    <h1 class="text-3xl font-extrabold">{frontmatter.title}</h1>
    <div>
      {frontmatter.date} • <a href="https://x.com/m4xshen" class="no-underline"
        >Max Shen</a
      >
    </div>
    <slot />
  </article>
</NavbarLayout>
